<template>
      <!-- Intro -->
        <div id="intro-wrapper" class="wrapper style1">
          <div class="title">The Introduction</div>
          <section id="intro" class="container">
            <p class="style1">Prepare to escape a dying world</p>
            <p class="style2">
              What is the Christian worldview?
            </p>
            <p class="style3">"${headerQuote.text}" <br>-${headerQuote.author}, <em>${headerQuote.source}</em></p>
            <ul class="actions">
              <li><a href="#details" class="button style3 big">Explore</a></li>
            </ul>
          </section>
        </div>

      <!-- Main -->
      <div id="details" class="wrapper style2">
        <div class="title">Prep Assembly</div>
        <div id="main" class="container">

          <!-- Image -->
          <a href="#" class="image featured">
            <img src="dist/images/512907680.jpg" alt="" />
          </a>

          <!-- Features -->
          <section id="features">
            <header class="style1">
              <h2>Christian Worldview</h2>
              <p>To achieve a cultural escape velocity one will first need to understand what the Christian worldview actually is. Some assembly required.</p>
            </header>
            <div class="feature-list">
              <div class="row">

                <div class="6u 12u(mobile)" repeat.for="lesson of christianWorldview">
                  <section>
                    <h3 class="icon ${lesson.imageClass}">
                      <a href="#/lesson-plans/${lesson.slug}">Lesson ${$index + 1}: ${lesson.title}</a>
                    </h3>
                    <p innerhtml.bind="lesson.text"></p>
                  </section>
                </div>

              </div>
            </div>
            <ul class="actions actions-centered">
              <li><a href="#" class="button style1 big">Get Started</a></li>
              <li><a href="#/worldview-info" class="button style2 big">More Info</a></li>
            </ul>
          </section>

        </div>
      </div>

      <!-- Highlights -->
      <div class="wrapper style3">
        <div class="title">The Endorsements</div>
        <div id="highlights" class="container">
          <div class="row 150%">
            <div class="4u 12u(mobile)">
              <section class="highlight">
                <a href="#" class="image featured"><img src="dist/images/pic02.jpg" alt="" /></a>
                <h3><a href="#">Aliquam diam consequat</a></h3>
                <p>Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.</p>
                <ul class="actions">
                  <li><a href="#" class="button style1">Learn More</a></li>
                </ul>
              </section>
            </div>
            <div class="4u 12u(mobile)">
              <section class="highlight">
                <a href="#" class="image featured"><img src="dist/images/pic03.jpg" alt="" /></a>
                <h3><a href="#">Nisl adipiscing sed lorem</a></h3>
                <p>Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.</p>
                <ul class="actions">
                  <li><a href="#" class="button style1">Learn More</a></li>
                </ul>
              </section>
            </div>
            <div class="4u 12u(mobile)">
              <section class="highlight">
                <a href="#" class="image featured"><img src="dist/images/pic04.jpg" alt="" /></a>
                <h3><a href="#">Mattis tempus lorem</a></h3>
                <p>Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.</p>
                <ul class="actions">
                  <li><a href="#" class="button style1">Learn More</a></li>
                </ul>
              </section>
            </div>
          </div>
        </div>
      </div>
</template>
