<template>
  <require from="./lesson-plans.css"></require>
  <require from="content/common/sidebar/sidebar"></require>

  <div class="wrapper style2 lesson-plans">
    <div class="title">Build Your House on Stone</div>
    <div id="main" class="container">
      <div class="row 150%">
        <div class="4u 12u(mobile)">

          <sidebar></sidebar>

        </div>


        <div class="8u 12u(mobile) important(mobile)">

          <!-- Content -->
            <div id="content">
              <article class="box post">
                <header class="style1">
                  <h2>Lesson Plans</h2>
                </header>
                <span class="image featured">
                    <img src="dist/images/puzzle_challenge.jpg" alt="" />
                    <label style="font-style:italic; font-size:0.75em;">US Army soldiers firing howitzer</label>
                </span>
                <blockquote cite="https://www.blueletterbible.org/kjv/eph/6/18/s_1103018">
                    [Deut 6:7 KJV2000] And you shall teach them diligently unto your children, and shall talk of them when you sit in your house, and when you walk by the way, and when you lie down, and when you rise up.
                </blockquote>
                <p>"There is nothing wrong with good clean fun. But the force of sheer emotional experience  will not equip teens to address the ideas they will encounter when they leave home and face the world on their own. Young people whose faith is mostly emotional are liekly to retain it only as long as it is making them happy. As sson as a difficult crisis comes along, it will evaporate." — <em>Saving Leonardo: A Call to Resist the Secular Assault on Mind, Morals, and Meaning, by Nancy Pearcey</em></p>
                <p>The youth of today do not need experiences to make their faith their own. They need a safe place to be challenged in their faith. To wrestle with the big ideas that society bombards them with. The Church must provide such a place at the same time, challenging them in their faith.</p>
              </article>
              <div class="row 150%">

                <div class="6u 12u(mobile)" repeat.for="lesson of lessons">
                  <section class="box">
                    <header>
                      <h2>${lesson.title}</h2>
                    </header>
                    <!-- <a href="#" class="image featured"><img src="dist/images/pic05.jpg" alt="" /></a> -->
                    <p>${lesson.abstract}</p>
                    <a href="#/lesson-plans/${lesson.slug}" class="button style1">More</a>
                  </section>
                </div>

              </div>
            </div>

        </div>
      </div>
    </div>
  </div>

  <!-- Highlights -->
  <div class="wrapper style3">
    <div class="title">The Endorsements</div>
    <div id="highlights" class="container">
      <div class="row 150%">
        <div class="4u 12u(mobile)">
          <section class="highlight">
            <a href="#" class="image featured"><img src="dist/images/pic02.jpg" alt="" /></a>
            <h3><a href="#">Aliquam diam consequat</a></h3>
            <p>Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.</p>
            <ul class="actions">
              <li><a href="#" class="button style1">Learn More</a></li>
            </ul>
          </section>
        </div>
        <div class="4u 12u(mobile)">
          <section class="highlight">
            <a href="#" class="image featured"><img src="dist/images/pic03.jpg" alt="" /></a>
            <h3><a href="#">Nisl adipiscing sed lorem</a></h3>
            <p>Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.</p>
            <ul class="actions">
              <li><a href="#" class="button style1">Learn More</a></li>
            </ul>
          </section>
        </div>
        <div class="4u 12u(mobile)">
          <section class="highlight">
            <a href="#" class="image featured"><img src="dist/images/pic04.jpg" alt="" /></a>
            <h3><a href="#">Mattis tempus lorem</a></h3>
            <p>Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.</p>
            <ul class="actions">
              <li><a href="#" class="button style1">Learn More</a></li>
            </ul>
          </section>
        </div>
      </div>
    </div>
  </div>
</template>