#sidebar {
    .ad-container {
        color: white;
        background-color: #999;
        min-height: 250px;
        min-width: 300px;
        max-height: 250px;
        max-width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
            flex: 0 1 auto;
        }
    }
}